@import '~bootstrap/dist/css/bootstrap';

.center {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
};

.image {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
};

.login-form, .signup-form {
  display: block;
  margin: auto;
  width: 275px !important;
};

.login-form-control, .signup-form-control {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
};

.post-form {
  display: block;
  margin: auto;
  width: 275px !important;
};

.post-row {
  display: block;
  text-align: left;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 550px !important;
}

.posts-subtitle {
  display: block;
  text-align: left;
  margin-left: 18px;
}
