@import '~bootstrap/dist/css/bootstrap';

.center {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
};

.image {
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
};

.login-form, .signup-form {
  display: block;
  margin: auto;
  width: 275px !important;
};


.login-form, .login-form-control, .signup-form, .signup-form-control {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
};
