<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      React-on-Rails SPA
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body, #root {
        height: 100%;
        margin: 0;
      }
    </style>
    <%= stylesheet_pack_tag 'assets/stylesheets/app' %>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_pack_tag 'index' %>
  </body>
</html>
