@import "~bootstrap/dist/css/bootstrap";

.center {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.image-md {
  width: 30em;
  height: 30em;
  padding: 1em;
  object-fit: cover;
}

.login-form,
.signup-form {
  display: block;
  margin: auto;
  width: 16em !important;
}

.login-form-control,
.signup-form-control {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.new-post-card {
  display: block;
  margin: auto;
  padding: 1em;
  text-align: center;
  width: 30em !important;
}

.new-post-form {
  display: block;
  margin: auto;
  text-align: left;
}

.post-card-container {
  margin: auto;
  padding-bottom: 1em;
}

.post-card {
  width: 20em;
  height: 100%;
}

.post-card-image {
  height: 15em;
  object-fit: cover;
}
